/* shabnam - normal*/
@font-face {
    font-family: my-shabnam;
    font-weight: normal;
    src: url('../fnt/shabnam/Shabnam-FD.woff2') , url('../fnt/shabnam/Shabnam-FD.woff');
}

/* shabnam - bold*/
@font-face {
    font-family: my-font;
    font-weight: bold;
    src: url('../fnt/shabnam/Shabnam-Bold-FD.woff2') , url('../fnt/shabnam/Shabnam-Bold-FD.woff');
}

/* shabnam - light*/
@font-face {
    font-family: my-font;
    font-weight: 300;
    src: url('../fnt/shabnam/Shabnam-Light-FD.woff2') , url('../fnt/shabnam/Shabnam-Light-FD.woff');
}